<h1>Welcome Ya Admin</h1>
<div class="container">
    <div class="form-group">
       <input type="submit" value="Add Product To The System" class="btn btn-primary" (click)="Add1()">            
    </div>
    <div class="form-group">
        <input type="submit" value="Add Brand To The System" class="btn btn-primary" (click)="Add2()">
    </div>
    <div class="form-group">
            <input type="submit" value="Show Statistics" class="btn btn-primary" (click)="Add3()">
    </div>    
</div>
    