<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Add Product</title>
</head>
<body>

<h1>AddProduct</h1>
    <form th:action="@{/addproduct}" th:object="${prod}" method="post">
        Name: <input type="text" th:field="*{Name}" />
        Category: <input type="text" th:field="*{Cate}" />
        Price: <input type="text" th:field="*{price}" />
        
        <input type="submit" value="Submit" />
    </form>
</body>
</html>